DJANGO_ENV=dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DJANGO_TIME_ZONE=Asia/Kolkata
DATABASE_URL=sqlite:///db.sqlite3
DATABASE_SSL_REQUIRE=0
